.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  min-height: 90vh auto;
  background: linear-gradient(120deg, #0f172a,);
}


.form {
  background: white;
  padding: 30px;
  border-radius: 20px;
  width: 100%;
  max-width: 450px;
  box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  gap: 15px;

  input {
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #cbd5e1;
    outline: none;
    transition: 0.2s;

    &:focus {
      border-color: #2563eb;
    }
  }
}

.actions {
  display: flex;
  gap: 10px;
  margin-top: 10px;

  button {
    flex: 1;
    padding: 12px;
    border-radius: 12px;
    border: none;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
  }

  button:first-child {
    background: #2563eb;
    color: white;

    &:hover {
      background: #1e40af;
    }
  }

  button:last-child {
    background: #e5e7eb;

    &:hover {
      background: #cbd5e1;
    }
  }
}

.preview {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
  align-items: center;

  img {
    border-radius: 12px;
    max-width: 100%;
    object-fit: cover;
  }
}
